# true if you have API key, Flase if you have local LLM 
USE_REMOTE_LLM=[true/false]
# would start with `gsk_...` for grok
OPENAI_API_KEY=your_api_key_here
# Example I used `https://api.groq.com/openai/v1`
OPENAI_BASE_URL=your_base_url_here
# I've used `qwen/qwen3.6-27b`
MODEL_NAME=model_name

